a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

button:focus,
input:focus {
  outline: none; }

h5 {
  font-size: 1rem; }
  @media (min-width: 1024px) {
    h5 {
      font-size: 1.25rem; } }

h2 {
  font-size: 1.25rem; }
  @media (min-width: 1024px) {
    h2 {
      font-size: 2rem; } }

#header {
  background-color: #efefefeb; }

.logo {
  align-items: center;
  padding: 20px 0;
  justify-content: center; }
  @media (min-width: 1024px) {
    .logo {
      justify-content: flex-start; } }
  .logo .header_logo {
    max-height: 130px; }
  .logo img {
    max-width: 200px; }
    @media (min-width: 1024px) {
      .logo img {
        max-width: 100%; } }
  .logo .header-button {
    margin-left: auto;
    background: red;
    border-radius: 20px;
    padding: 7px;
    display: none; }
    @media (min-width: 1024px) {
      .logo .header-button {
        display: block; } }
    .logo .header-button a {
      color: #ffffff;
      font-weight: 600; }

.navbar-toggler {
  display: block;
  position: absolute;
  top: 30px; }
  @media (min-width: 1024px) {
    .navbar-toggler {
      display: none; } }

.menu {
  transition: 0.3s;
  background: #f1f1f1; }
  @media (min-width: 1024px) {
    .menu {
      display: flex !important; } }
  .menu .active {
    background-color: rgba(102, 102, 102, 0.7) !important; }
  .menu ul {
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin: auto; }
    @media (min-width: 1024px) {
      .menu ul {
        flex-direction: row; } }
    .menu ul li {
      background-color: #ffffff;
      padding: 0px;
      margin-right: 10px;
      list-style: none;
      width: 100%;
      border-bottom: solid thin #e2e1e1; }
      @media (min-width: 1024px) {
        .menu ul li {
          width: auto;
          padding: 10px 30px;
          background-color: red;
          border-bottom: none; } }
      .menu ul li:hover {
        background-color: rgba(102, 102, 102, 0.7); }
      .menu ul li a {
        color: #777777;
        line-height: 30px;
        padding: 10px 15px;
        display: block; }
        @media (min-width: 1024px) {
          .menu ul li a {
            padding: 0px;
            display: inline-block;
            color: #ffffff; } }
      .menu ul li .submenu {
        padding: 0px; }
        .menu ul li .submenu li {
          padding: 0px;
          background: #f1f1f1;
          margin-right: 0px;
          width: auto; }
          @media (min-width: 1024px) {
            .menu ul li .submenu li {
              width: 100%; } }
          .menu ul li .submenu li a {
            color: #8e8d8d; }
    .menu ul .sub-menu {
      left: 10px;
      top: 5px; }
  .menu .dropdown {
    position: relative;
    display: inline-block; }
    .menu .dropdown af {
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: .255em;
      vertical-align: .255em;
      border-top: .3em solid;
      border-right: .3em solid transparent;
      border-bottom: 0;
      border-left: .3em solid transparent;
      color: #777777;
      position: absolute;
      top: 20px;
      right: 5px;
      font-size: 20px; }
      @media (min-width: 1024px) {
        .menu .dropdown af {
          color: #ffffff;
          position: relative;
          top: 1px;
          right: auto;
          font-size: 15px; } }
  .menu .dropdown-content {
    display: none;
    position: static;
    background-color: #f1f1f1 !important;
    min-width: 200px;
    box-shadow: none;
    z-index: 1; }
    @media (min-width: 1024px) {
      .menu .dropdown-content {
        position: absolute;
        left: 0px;
        top: 50px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); } }
  .menu .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block; }
  .menu .dropdown-content a:hover {
    background-color: #ddd; }
  @media (min-width: 1024px) {
    .menu .dropdown:hover .dropdown-content {
      display: block; } }

#main .carousel-inner {
  max-height: 600px; }
#main .slide {
  padding-top: 20px; }
#main .img-box img {
  width: 100%;
  height: 250px; }
#main h2 {
  color: #555555; }
#main .box {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.255);
  display: block;
  transition: 0.3s; }
  #main .box:hover {
    transform: translateY(-15px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.355); }
  #main .box .title-box {
    padding: 15px 0; }
#main a {
  color: #000000; }

.title {
  position: relative;
  text-align: center;
  margin-bottom: 15px; }
  .title::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    transform: translate(0, -50%);
    z-index: 1; }
  .title span {
    margin-top: 5px;
    padding: 25px 10px;
    background: #fff;
    z-index: 11;
    display: inline-block;
    position: relative; }

.footer .footer-widgets > .container {
  padding: 30px 15px; }
.footer .footer-widgets {
  background-color: #777;
  font-size: 13px; }
  @media (min-width: 1024px) {
    .footer .footer-widgets {
      font-size: 15px; } }
  .footer .footer-widgets h5 {
    margin-top: 10px;
    color: #ffffff; }
  .footer .footer-widgets p {
    color: #ffffff; }
  .footer .footer-widgets .is-divider {
    height: 3px;
    display: block;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 1em 0 1em;
    width: 100%;
    max-width: 30px; }
.footer .form-flat .email {
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-color: rgba(255, 255, 255, 0.09);
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 10px;
  color: #fff;
  max-width: 150px; }
  @media (min-width: 1024px) {
    .footer .form-flat .email {
      max-width: 250px; } }
  .footer .form-flat .email::-webkit-input-placeholder {
    color: #ffffff; }
.footer .form-flat .registration {
  background-color: red;
  text-transform: uppercase;
  font-size: .97em;
  cursor: pointer;
  font-weight: bolder;
  text-align: center;
  color: #ffffff;
  border: 1px solid transparent;
  border-radius: 20px;
  line-height: 2.4em;
  min-height: 2.5em;
  padding: 0 1.2em;
  max-width: 100%;
  transition: transform .3s, border .3s, background .3s, box-shadow .3s, opacity .3s, color .3s;
  box-sizing: border-box; }
.footer .menu-sp ul {
  padding: 0px;
  list-style: none; }
  .footer .menu-sp ul li {
    color: #ffffff;
    padding: 5px 0;
    border-bottom: solid thin #888888; }
.footer .absolute-footer {
  background-color: #5b5b5b;
  color: #ffffff;
  padding: 10px; }
  .footer .absolute-footer .col-md-6 {
    font-size: 12px;
    text-align: center; }
    @media (min-width: 1024px) {
      .footer .absolute-footer .col-md-6 {
        font-size: 15px; } }
  .footer .absolute-footer .right {
    float: right; }

.scrolled {
  position: sticky;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 111; }
  .scrolled #logo {
    padding: 0px; }
  .scrolled .navbar-toggler {
    top: 6px; }

.slide-2 .brand-slider {
  padding-bottom: 50px; }
  .slide-2 .brand-slider img {
    filter: grayscale(1);
    transition: .25s;
    height: 75px;
    max-width: 122px; }
    .slide-2 .brand-slider img:hover {
      filter: grayscale(0); }
  .slide-2 .brand-slider .owl-stage-outer {
    height: 105px; }
  .slide-2 .brand-slider .owl-prev {
    position: absolute;
    top: 10%;
    left: -5px;
    height: 30px;
    background-color: #ffffff !important;
    width: 20px;
    display: none !important; }
    @media (min-width: 1024px) {
      .slide-2 .brand-slider .owl-prev {
        display: block !important; } }
    .slide-2 .brand-slider .owl-prev span {
      font-weight: 600;
      font-size: 25px;
      line-height: 25px; }
      .slide-2 .brand-slider .owl-prev span:hover {
        color: red; }
  .slide-2 .brand-slider .owl-nav button:hover {
    color: red !important; }
  .slide-2 .brand-slider .owl-next {
    position: absolute;
    top: 10%;
    right: -5px;
    height: 30px;
    background-color: #ffffff !important;
    width: 20px;
    display: none !important; }
    @media (min-width: 1024px) {
      .slide-2 .brand-slider .owl-next {
        display: block !important; } }
    .slide-2 .brand-slider .owl-next span {
      font-weight: 600;
      font-size: 25px;
      line-height: 25px; }
      .slide-2 .brand-slider .owl-next span:hover {
        color: red; }

.messangers-list {
  padding-left: 0px; }

.messangers-block {
  display: none;
  width: 300px;
  position: fixed;
  bottom: 100px;
  right: 20px;
  background-color: #ffffff;
  z-index: 999;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
  border-radius: 10px; }
  .messangers-block li {
    list-style: none; }
  .messangers-block::after {
    position: absolute;
    bottom: -7px;
    right: 25px;
    left: auto;
    display: inline-block !important;
    border-right: 8px solid transparent;
    border-top: 8px solid #fff;
    border-left: 8px solid transparent;
    content: ''; }
  .messangers-block .messanger {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    cursor: pointer;
    width: 100%;
    padding: 8px 20px 8px 60px;
    position: relative;
    min-height: 54px;
    text-decoration: none; }
    .messangers-block .messanger:hover {
      background-color: #f0f0f0; }
    .messangers-block .messanger span {
      position: absolute;
      left: 10px;
      top: 50%;
      margin-top: -20px;
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #0084ff;
      margin-right: 10px;
      color: #fff;
      text-align: center;
      vertical-align: middle; }
      .messangers-block .messanger span svg {
        width: 24px;
        height: 24px;
        vertical-align: middle;
        text-align: center;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -12px;
        margin-left: -12px; }

.arcontactus-message-button {
  width: 70px;
  position: fixed;
  z-index: 999;
  height: 70px;
  right: 10px;
  bottom: 20px;
  background-color: red;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer; }
  .arcontactus-message-button .static {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -19px;
    margin-left: -26px;
    width: 52px;
    height: 52px;
    text-align: center; }
    .arcontactus-message-button .static svg {
      width: 24px;
      height: 24px;
      color: #fff; }
  .arcontactus-message-button p {
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 10px;
    line-height: 11px;
    margin: 0; }

#contact {
  padding-top: 30px; }
  #contact .col-inner .map .title-map {
    margin-bottom: 30px; }
    #contact .col-inner .map .title-map h2 {
      border-bottom: 2px solid #ececec;
      width: 100%;
      padding-bottom: 7px; }
      #contact .col-inner .map .title-map h2 span {
        color: red;
        margin-right: 15px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        margin-bottom: -2px;
        padding-bottom: 7px; }
  #contact .col-inner .map iframe {
    max-width: 100%; }
  #contact .col-inner .is-divider {
    height: 1px;
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 1em 0 1em;
    width: 100%;
    max-width: 1200px; }
  #contact .form-contact {
    padding-bottom: 50px; }
    #contact .form-contact .section-title {
      border-bottom: 2px solid #ececec;
      width: 100%;
      margin-bottom: 1.5rem;
      padding-bottom: 7px; }
      #contact .form-contact .section-title span {
        margin-right: 15px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        margin-bottom: -2px;
        padding-bottom: 7px; }
    #contact .form-contact .form-contact-send label {
      width: 100%; }
      #contact .form-contact .form-contact-send label input {
        width: 100%;
        border: 1px solid #ddd;
        padding: 0 .75em;
        height: 2.507em;
        font-size: .97em;
        border-radius: 0;
        color: #333;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        transition: color .3s, border .3s, background .3s, opacity .3s; }
        #contact .form-contact .form-contact-send label input:focus {
          box-shadow: 0 0 5px #ccc;
          opacity: 1 !important;
          outline: 0;
          color: #333;
          background-color: #fff; }
      #contact .form-contact .form-contact-send label textarea {
        width: 100%;
        border: 1px solid #ddd;
        padding: 0 .75em;
        height: 6.507em;
        font-size: .97em;
        border-radius: 0;
        color: #333;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        transition: color .3s, border .3s, background .3s, opacity .3s; }
        #contact .form-contact .form-contact-send label textarea:focus {
          box-shadow: 0 0 5px #ccc;
          opacity: 1 !important;
          outline: 0;
          color: #333;
          background-color: #fff; }
    #contact .form-contact .form-contact-send .submit {
      background-color: red;
      color: #ffffff;
      padding: 10px 20px;
      box-shadow: 0 0 5px #ccc;
      border: none; }

#introduce {
  padding-top: 30px; }
  #introduce .nav-tabs .nav-item a {
    color: #777777; }
  #introduce .active {
    border-top-color: #dd3333;
    color: black !important; }
  #introduce .tab-content {
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 30px;
    margin-bottom: 50px !important; }
    #introduce .tab-content .tab-dai-ichi .col-md-8 {
      position: relative;
      margin: 0;
      padding: 0 15px 30px;
      width: 100%; }
      #introduce .tab-content .tab-dai-ichi .col-md-8 .col-inner {
        margin: 0px; }
        #introduce .tab-content .tab-dai-ichi .col-md-8 .col-inner .col-md-6 {
          background-color: red;
          padding: 5px 15px 30px; }
          #introduce .tab-content .tab-dai-ichi .col-md-8 .col-inner .col-md-6 img {
            width: 100%; }
    #introduce .tab-content .country {
      padding-top: 30px; }
      #introduce .tab-content .country .col-inner {
        background-color: #ecedec;
        padding-left: 5px; }
  #introduce .slide-3 .owl-carousel {
    height: 336px; }
    #introduce .slide-3 .owl-carousel .item {
      text-align: center;
      font-size: 13px; }
      #introduce .slide-3 .owl-carousel .item:hover .show-on-hover {
        color: #777777; }
    #introduce .slide-3 .owl-carousel .owl-stage-outer {
      height: 336px; }
      #introduce .slide-3 .owl-carousel .owl-stage-outer img {
        height: 230px;
        width: 100% !important;
        margin: 0px !important; }
    #introduce .slide-3 .owl-carousel .show-on-hover {
      color: #ffffff; }
  #introduce .slide-3 .brand-slider .owl-prev {
    position: absolute;
    top: 25%;
    left: -40px;
    height: 55px;
    background-color: #ffffff !important;
    width: 30px;
    display: block; }
    #introduce .slide-3 .brand-slider .owl-prev:hover {
      color: red !important; }
    #introduce .slide-3 .brand-slider .owl-prev span {
      font-weight: 600;
      font-size: 40px; }
      #introduce .slide-3 .brand-slider .owl-prev span:hover {
        color: red; }
  #introduce .slide-3 .brand-slider .owl-next {
    position: absolute;
    top: 25%;
    right: -40px;
    height: 55px;
    background-color: #ffffff !important;
    width: 30px;
    display: block; }
    #introduce .slide-3 .brand-slider .owl-next:hover {
      color: red !important; }
    #introduce .slide-3 .brand-slider .owl-next span {
      font-size: 40px; }
      #introduce .slide-3 .brand-slider .owl-next span:hover {
        color: red; }

/*# sourceMappingURL=main.css.map */
