a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

button,
input {
  &:focus {
    outline: none;
  }
}

h5 {
  font-size: 1rem;
  @media(min-width: 1024px) {
    font-size: 1.25rem;
  }
}

h2 {
  font-size: 1.25rem;
  @media(min-width: 1024px) {
    font-size: 2rem;
  }
}

#header {
  background-color: #efefefeb;
}

.logo {
  align-items: center;
  padding: 20px 0;
  justify-content: center;
  @media (min-width: 1024px) {
    justify-content: flex-start;
  }

  .header_logo {
    max-height: 130px;
  }

  img {
    max-width: 200px;
    @media (min-width: 1024px) {
      max-width: 100%;
    }
  }

  .header-button {
    margin-left: auto;
    background: red;
    border-radius: 20px;
    padding: 7px;
    display: none;
    @media (min-width: 1024px) {
      display: block;
    }

    a {
      color: #ffffff;
      font-weight: 600;
    }
  }
}

.navbar-toggler {
  display: block;
  position: absolute;
  top: 30px;
  @media (min-width: 1024px) {
    display: none;
  }
}

.menu {
  transition: 0.3s;
  background: #f1f1f1;

  @media (min-width: 1024px) {
    display: flex !important;

  }

  .active {
    background-color: rgba(102, 102, 102, 0.7) !important;
  }

  ul {
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin: auto;
    @media (min-width: 1024px) {
      flex-direction: row;
    }

    li {
      background-color: #ffffff;
      padding: 0px;
      margin-right: 10px;
      list-style: none;
      width: 100%;
      border-bottom: solid thin #e2e1e1;
      @media (min-width: 1024px) {
        width: auto;
        padding: 10px 30px;
        background-color: red;
        border-bottom: none;
      }

      &:hover {
        background-color: rgba(102, 102, 102, 0.7);
      }

      a {
        color: #777777;
        line-height: 30px;
        padding: 10px 15px;
        display: block;
        @media (min-width: 1024px) {
          padding: 0px;
          display: inline-block;
          color: #ffffff;
        }
      }
    ;

      .submenu {
        padding: 0px;

        li {
          padding: 0px;
          background: #f1f1f1;
          margin-right: 0px;
          width: auto;
          @media (min-width: 1024px) {
            width: 100%;
          }

          a {
            color: #8e8d8d;
          }
        }
      }
    }

    .sub-menu {
      left: 10px;
      top: 5px;

    }
  }

  .dropdown {
    position: relative;
    display: inline-block;

    af {
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: .255em;
      vertical-align: .255em;
      border-top: .3em solid;
      border-right: .3em solid transparent;
      border-bottom: 0;
      border-left: .3em solid transparent;
      color: #777777;
      position: absolute;
      top: 20px;
      right: 5px;
      font-size: 20px;
      @media (min-width: 1024px) {
        color: #ffffff;
        position: relative;
        top: 1px;
        right: auto;
        font-size: 15px;
      }
    }
  ;
  }

  .dropdown-content {
    display: none;
    position: static;
    background-color: #f1f1f1 !important;
    min-width: 200px;
    box-shadow: none;
    z-index: 1;
    @media (min-width: 1024px) {
      position: absolute;
      left: 0px;
      top: 50px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  @media (min-width: 1024px) {
    .dropdown:hover .dropdown-content {
      display: block;
    }
  }
}

#main {
  .carousel-inner {
    max-height: 600px;
  }

  .slide {
    padding-top: 20px;
  }

  .img-box {
    img {
      width: 100%;
      height: 250px;
    }
  }

  h2 {
    color: #555555;
  }

  .box {
    box-shadow: 0 0 5px rgba(0, 0, 0, .255);
    display: block;
    transition: 0.3s;

    &:hover {
      transform: translateY(-15px);
      box-shadow: 0 0 15px rgba(0, 0, 0, .355);
    }

    .title-box {
      padding: 15px 0;
    }
  }

  a {
    color: #000000;
  }
}

.title {
  position: relative;
  text-align: center;
  margin-bottom: 15px;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    transform: translate(0, -50%);
    z-index: 1;
  }
;

  span {
    margin-top: 5px;
    padding: 25px 10px;
    background: #fff;
    z-index: 11;
    display: inline-block;
    position: relative;
  }
}

.footer {
  .footer-widgets {
    > .container {
      padding: 30px 15px;
    }
  }

  .footer-widgets {
    background-color: #777;
    font-size: 13px;
    @media (min-width: 1024px) {
      font-size: 15px;
    }

    h5 {
      margin-top: 10px;
      color: #ffffff;
    }

    p {
      color: #ffffff;
    }

    .is-divider {
      height: 3px;
      display: block;
      background-color: rgba(255, 255, 255, 0.3);
      margin: 1em 0 1em;
      width: 100%;
      max-width: 30px;
    }
  }

  .form-flat {
    .email {
      background-color: rgba(255, 255, 255, 0.2) !important;
      border-color: rgba(255, 255, 255, 0.09);
      border-radius: 20px;
      padding: 5px;
      margin-bottom: 10px;
      color: #fff;
      max-width: 150px;
      @media (min-width: 1024px) {
        max-width: 250px;
      }

      &::-webkit-input-placeholder {
        color: #ffffff;
      }

    }

    .registration {
      background-color: red;
      text-transform: uppercase;
      font-size: .97em;
      cursor: pointer;
      font-weight: bolder;
      text-align: center;
      color: #ffffff;
      border: 1px solid transparent;
      border-radius: 20px;
      line-height: 2.4em;
      min-height: 2.5em;
      padding: 0 1.2em;
      max-width: 100%;
      transition: transform .3s, border .3s, background .3s, box-shadow .3s, opacity .3s, color .3s;
      box-sizing: border-box;
    }
  }

  .menu-sp {
    ul {
      padding: 0px;
      list-style: none;

      li {
        color: #ffffff;
        padding: 5px 0;
        border-bottom: solid thin #888888;
      }
    }
  }

  .absolute-footer {
    background-color: #5b5b5b;
    color: #ffffff;
    padding: 10px;

    .col-md-6 {
      font-size: 12px;
      text-align: center;
      @media (min-width: 1024px) {
        font-size: 15px;
      }
    }

    .right {
      float: right;
    }
  }
}

.scrolled {
  position: sticky;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 111;

  #logo {
    padding: 0px;
  }

  .navbar-toggler {
    top: 6px;
  }
}

.slide-2 {
  .brand-slider {
    padding-bottom: 50px;

    img {
      filter: grayscale(1);
      transition: .25s;
      height: 75px;
      max-width: 122px;

      &:hover {
        filter: grayscale(0);
      }
    }

    .owl-stage-outer {
      height: 105px;
    }

    .owl-prev {
      position: absolute;
      top: 10%;
      left: -5px;
      height: 30px;
      background-color: #ffffff !important;
      width: 20px;
      display: none !important;
      @media (min-width: 1024px) {
        display: block !important;
      }

      span {
        font-weight: 600;
        font-size: 25px;
        line-height: 25px;

        &:hover {
          color: red;
        }
      }
    }

    .owl-nav button:hover {
      color: red !important;
    }

    .owl-next {
      position: absolute;
      top: 10%;
      right: -5px;
      height: 30px;
      background-color: #ffffff !important;
      width: 20px;
      display: none !important;
      @media (min-width: 1024px) {
        display: block !important;
      }

      span {
        font-weight: 600;
        font-size: 25px;
        line-height: 25px;

        &:hover {
          color: red;
        }
      }
    }
  }
}


.messangers-list {
  padding-left: 0px;
}

.messangers-block {
  display: none;
  width: 300px;
  position: fixed;
  bottom: 100px;
  right: 20px;
  background-color: #ffffff;
  z-index: 999;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
  border-radius: 10px;

  li {
    list-style: none;
  }

  &::after {
    position: absolute;
    bottom: -7px;
    right: 25px;
    left: auto;
    display: inline-block !important;
    border-right: 8px solid transparent;
    border-top: 8px solid #fff;
    border-left: 8px solid transparent;
    content: '';
  }

  .messanger {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    cursor: pointer;
    width: 100%;
    padding: 8px 20px 8px 60px;
    position: relative;
    min-height: 54px;
    text-decoration: none;

    &:hover {
      background-color: #f0f0f0;
    }

    span {
      position: absolute;
      left: 10px;
      top: 50%;
      margin-top: -20px;
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #0084ff;
      margin-right: 10px;
      color: #fff;
      text-align: center;
      vertical-align: middle;

      svg {
        width: 24px;
        height: 24px;
        vertical-align: middle;
        text-align: center;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -12px;
        margin-left: -12px;
      }
    }
  }
}

.arcontactus-message-button {
  width: 70px;
  position: fixed;
  z-index: 999;
  height: 70px;
  right: 10px;
  bottom: 20px;
  background-color: red;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;

  .static {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -19px;
    margin-left: -26px;
    width: 52px;
    height: 52px;
    text-align: center;

    svg {
      width: 24px;
      height: 24px;
      color: #fff;
    }
  }

  p {
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 10px;
    line-height: 11px;
    margin: 0;
  }
}

#contact {
  padding-top: 30px;

  .col-inner {
    .map {
      .title-map {
        margin-bottom: 30px;

        h2 {
          border-bottom: 2px solid #ececec;
          width: 100%;
          padding-bottom: 7px;

          span {
            color: red;
            margin-right: 15px;
            border-bottom: 2px solid rgba(0, 0, 0, 0.1);
            margin-bottom: -2px;
            padding-bottom: 7px;
          }
        }
      }

      iframe {
        max-width: 100%;
      }
    }

    .is-divider {
      height: 1px;
      display: block;
      background-color: rgba(0, 0, 0, 0.1);
      margin: 1em 0 1em;
      width: 100%;
      max-width: 1200px;
    }
  }

  .form-contact {
    padding-bottom: 50px;

    .section-title {
      border-bottom: 2px solid #ececec;
      width: 100%;
      margin-bottom: 1.5rem;
      padding-bottom: 7px;

      span {
        margin-right: 15px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        margin-bottom: -2px;
        padding-bottom: 7px;
      }
    }

    .form-contact-send {
      label {
        width: 100%;

        input {
          width: 100%;
          border: 1px solid #ddd;
          padding: 0 .75em;
          height: 2.507em;
          font-size: .97em;
          border-radius: 0;
          color: #333;
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
          transition: color .3s, border .3s, background .3s, opacity .3s;

          &:focus {
            box-shadow: 0 0 5px #ccc;
            opacity: 1 !important;
            outline: 0;
            color: #333;
            background-color: #fff;
          }
        }

        textarea {
          width: 100%;
          border: 1px solid #ddd;
          padding: 0 .75em;
          height: 6.507em;
          font-size: .97em;
          border-radius: 0;
          color: #333;
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
          transition: color .3s, border .3s, background .3s, opacity .3s;

          &:focus {
            box-shadow: 0 0 5px #ccc;
            opacity: 1 !important;
            outline: 0;
            color: #333;
            background-color: #fff;
          }
        }
      }

      .submit {
        background-color: red;
        color: #ffffff;
        padding: 10px 20px;
        box-shadow: 0 0 5px #ccc;
        border: none;
      }
    }
  }
}

#introduce {
  padding-top: 30px;

  .nav-tabs {
    .nav-item {
      a {
        color: #777777;
      }
    }
  }

  .active {
    border-top-color: #dd3333;
    color: black !important;
  }

  .tab-content {
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 30px;
    margin-bottom: 50px !important;

    .tab-dai-ichi {
      .col-md-8 {
        position: relative;
        margin: 0;
        padding: 0 15px 30px;
        width: 100%;

        .col-inner {
          margin: 0px;

          .col-md-6 {
            background-color: red;
            padding: 5px 15px 30px;

            img {
              width: 100%;
            }
          }
        }
      }
    }

    .country {
      padding-top: 30px;

      .col-inner {
        background-color: rgb(236, 237, 236);
        padding-left: 5px;
      }
    }

    .slide-year {
      padding: 30px 0;
      text-align: center;

      .dash-year {
        height: 2px;
        background: #a7a2a2;
        position: relative;
        top: 25px;
        margin: 0 70px;
      }

      .slider2 {
        .btn-year {
          width: 45px;
          height: 45px;
          background: red !important;
          border-color: red !important;
          border-radius: 50%;
          border: none;
          margin-bottom: 10px;
          margin-left: 43%;
        }

        .year {
          color: red;
        }
      }

      .owl-prev {
        position: absolute;
        top: 5%;
        left: 0px;
        height: 40px;
        background-color: #ffffff !important;
        width: 40px;
        border-radius: 30px;
        border: solid thin #7777;

        &:hover {
          color: red !important;
        }

        span {
          font-size: 40px;
          position: absolute;
          top: -12px;
          right: 12px;

          &:hover {
            color: red;
          }
        }
      }

      .owl-next {
        position: absolute;
        top: 0%;
        right: 0px;
        height: 40px;
        background-color: #ffffff !important;
        width: 40px;
        display: block;
        border: solid thin #7777;
        border-radius: 30px;

        &:hover {
          color: red !important;
        }

        span {
          font-size: 40px;
          position: absolute;
          top: -12px;
          right: 10px;

          &:hover {
            color: red;
          }
        }
      }

      .item {
        .content-year {
          margin: 10px;
          padding: 0 20px;

          h2 {
            color: #777777;
          }

          @media (min-width: 1024px) {
            margin: 20px;
            padding: 0 50px;
          }
        }
      }

      .title-year {
        border-bottom: 2px solid #ececec;
        font-weight: 600;
        width: 100%;
        color: red;
        text-align: left;
        padding-bottom: 20px;
        margin-bottom: 50px;
      }
    }
  }

  .slide-3 {
    .owl-carousel {
      height: 336px;

      .item {
        text-align: center;
        font-size: 13px;

        .img {
          height: 222px;
          overflow: hidden;
          display: flex;
          align-items: flex-end;
        }

        &:hover {
          .show-on-hover {
            color: #777777;
          }
        }
      }

      .owl-stage-outer {
        height: 336px;

        img {
          height: 230px;
          width: 100% !important;
          margin: 0px !important;
        }
      }

      .show-on-hover {
        color: #ffffff;
      }
    }

    .brand-slider {
      .owl-prev {
        position: absolute;
        top: 25%;
        left: -40px;
        height: 55px;
        background-color: #ffffff !important;
        width: 30px;
        display: block;

        &:hover {
          color: red !important;
        }

        span {
          font-weight: 600;
          font-size: 40px;

          &:hover {
            color: red;
          }
        }
      }

      .owl-next {
        position: absolute;
        top: 25%;
        right: -40px;
        height: 55px;
        background-color: #ffffff !important;
        width: 30px;
        display: block;

        &:hover {
          color: red !important;
        }

        span {
          font-size: 40px;

          &:hover {
            color: red;
          }
        }
      }
    }

  }
}

#product {
  padding: 30px 0;
  .title-product {
    margin-bottom: 2rem;
    h2 {
      color: red;
      font-weight: 500;
      border-bottom: 2px solid #ececec;
      padding-bottom: 7px;
      span  {
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 7px;
      }
    }
  }
  .col-inner {
    p {
      margin-bottom: 1rem;
    }
  }
  .box-product {
    margin-top: 20px;
    img {
      width: 100%;
      height: 140px;
      @media (min-width: 1024px) {
        width: 250px;
      }
    }
    .box-text {
      padding-top: 1.5em;
      padding-bottom: 1.4em;
      position: relative;
      width: 100%;
      font-size: .9em;
    }
  }
}