a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

button:focus,
input:focus {
  outline: none; }

.logo {
  align-items: center;
  padding: 20px 0; }
  .logo .header_logo {
    max-height: 130px; }
  .logo .header-button {
    margin-left: auto;
    background: red;
    border-radius: 20px;
    padding: 7px; }
    .logo .header-button a {
      color: #ffffff;
      font-weight: 600; }

.navbar-toggler {
  display: none; }
  @media (max-width: 679px) {
    .navbar-toggler {
      display: block; } }

.menu {
  background: #f1f1f1; }
  @media (max-width: 679px) {
    .menu {
      display: none; } }
  .menu .d-flex {
    align-items: flex-start;
    justify-content: center; }
    .menu .d-flex li {
      background: red;
      padding: 10px 30px;
      margin-right: 10px;
      list-style: none; }
      .menu .d-flex li:hover {
        background-color: rgba(102, 102, 102, 0.7); }
      .menu .d-flex li a {
        color: #ffffff;
        line-height: 30px; }
      .menu .d-flex li .submenu {
        padding: 0px; }
        .menu .d-flex li .submenu li {
          padding: 0px;
          background: #f1f1f1;
          margin-right: 0px; }
          .menu .d-flex li .submenu li a {
            color: #8e8d8d; }
    .menu .d-flex .sub-menu {
      left: 10px;
      top: 5px; }
  .menu .dropdown {
    position: relative;
    display: inline-block; }
    .menu .dropdown::after {
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: .255em;
      vertical-align: .255em;
      border-top: .3em solid;
      border-right: .3em solid transparent;
      border-bottom: 0;
      border-left: .3em solid transparent;
      color: #ffffff; }
  .menu .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1 !important;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 0px;
    top: 50px; }
  .menu .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block; }
  .menu .dropdown-content a:hover {
    background-color: #ddd; }
  .menu .dropdown:hover .dropdown-content {
    display: block; }

#main .carousel-inner {
  max-height: 600px; }
#main .img-box img {
  width: 100%;
  height: 250px; }
#main h2 {
  color: #555555; }
#main .box {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.255);
  display: block; }
  #main .box .title-box {
    padding: 15px 0; }
#main a {
  color: #000000; }

.title {
  position: relative;
  text-align: center; }
  .title::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    transform: translate(0, -50%);
    z-index: 1; }
  .title span {
    margin-top: 5px;
    padding: 35px 35px;
    background: #fff;
    z-index: 11;
    display: inline-block;
    position: relative; }

.footer > .container {
  padding: 30px 0; }
.footer .footer-widgets {
  background-color: #777; }
  .footer .footer-widgets h5 {
    margin-top: 10px;
    color: #ffffff; }
  .footer .footer-widgets p {
    color: #ffffff; }
  .footer .footer-widgets .is-divider {
    height: 3px;
    display: block;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 1em 0 1em;
    width: 100%;
    max-width: 30px; }
.footer .form-flat .email {
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-color: rgba(255, 255, 255, 0.09);
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 10px;
  color: #fff; }
  .footer .form-flat .email::-webkit-input-placeholder {
    color: #ffffff; }
.footer .form-flat .registration {
  background-color: red;
  text-transform: uppercase;
  font-size: .97em;
  cursor: pointer;
  font-weight: bolder;
  text-align: center;
  color: #ffffff;
  border: 1px solid transparent;
  border-radius: 20px;
  line-height: 2.4em;
  min-height: 2.5em;
  padding: 0 1.2em;
  max-width: 100%;
  transition: transform .3s, border .3s, background .3s, box-shadow .3s, opacity .3s, color .3s;
  box-sizing: border-box; }
.footer .menu-sp ul {
  padding: 0px;
  list-style: none; }
  .footer .menu-sp ul li {
    color: #ffffff;
    padding: 5px 0;
    border-bottom: solid thin #888888; }
.footer .absolute-footer {
  background-color: #5b5b5b;
  color: #ffffff;
  padding: 10px; }
  .footer .absolute-footer .right {
    float: right; }

/*# sourceMappingURL=main.css.map */
