a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

button,
input {
  &:focus {
    outline: none;
  }
}

#header {
  background-color: #efefefeb;
}

.logo {
  align-items: center;
  padding: 20px 0;

  .header_logo {
    max-height: 130px;
  }

  .header-button {
    margin-left: auto;
    background: red;
    border-radius: 20px;
    padding: 7px;

    a {
      color: #ffffff;
      font-weight: 600;
    }
  }
}

.navbar-toggler {
  display: block;
  @media (min-width: 1024px) {
    display: none;
  }
}

.menu {
  transition: 0.3s;
  background: #f1f1f1;

  @media (min-width: 1024px) {
    display: flex !important;

  }

  .active {
    background-color: rgba(102, 102, 102, 0.7) !important;
  }

  ul {
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin: auto;
    @media (min-width: 1024px) {
      flex-direction: row;
    }

    li {
      background: red;
      padding: 0px;
      margin-right: 10px;
      list-style: none;
      width: 100%;
      @media (min-width: 1024px) {
        width: auto;
        padding: 10px 30px;
      }
      &:hover {
        background-color: rgba(102, 102, 102, 0.7);
      }
      a {
        color: #ffffff;
        line-height: 30px;
        padding: 10px 15px;
        display: block;
        @media (min-width: 1024px) {
          padding: 0px;
          display: inline-block;
        }
      }
    ;

      .submenu {
        padding: 0px;

        li {
          padding: 0px;
          background: #f1f1f1;
          margin-right: 0px;
          width: auto;
          @media (min-width: 1024px) {
            width: 100%;
          }

          a {
            color: #8e8d8d;
          }
        }
      }
    }

    .sub-menu {
      left: 10px;
      top: 5px;

    }
  }

  .dropdown {
    position: relative;
    display: inline-block;

    &::after {
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: .255em;
      vertical-align: .255em;
      border-top: .3em solid;
      border-right: .3em solid transparent;
      border-bottom: 0;
      border-left: .3em solid transparent;
      color: #ffffff;
      position: absolute;
      top: 20px;
      right: 5px;
      font-size: 20px;
      @media (min-width: 1024px) {
        position: relative;
        top: 1px;
        right: auto;
        font-size: 15px;
      }
    }
  ;
  }

  .dropdown-content {
    display: none;
    position: static;
    background-color: #f1f1f1 !important;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    @media (min-width: 1024px) {
      position: absolute;
      left: 0px;
      top: 50px;
    }
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}

#main {
  .carousel-inner {
    max-height: 600px;
  }

  .slide {
    padding-top: 20px;
  }

  .img-box {
    img {
      width: 100%;
      height: 250px;
    }
  }

  h2 {
    color: #555555;
  }

  .box {
    box-shadow: 0 0 5px rgba(0, 0, 0, .255);
    display: block;
    transition: 0.3s;

    &:hover {
      transform: translateY(-15px);
      box-shadow: 0 0 15px rgba(0, 0, 0, .355);
    }

    .title-box {
      padding: 15px 0;
    }
  }

  a {
    color: #000000;
  }
}

.title {
  position: relative;
  text-align: center;
  margin-bottom: 15px;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    transform: translate(0, -50%);
    z-index: 1;
  }
;

  span {
    margin-top: 5px;
    padding: 25px 10px;
    background: #fff;
    z-index: 11;
    display: inline-block;
    position: relative;
  }
}

.footer {
  .footer-widgets {
    > .container {
      padding: 30px 15px;
    }
  }

  .footer-widgets {
    background-color: #777;

    h5 {
      margin-top: 10px;
      color: #ffffff;
    }

    p {
      color: #ffffff;
    }

    .is-divider {
      height: 3px;
      display: block;
      background-color: rgba(255, 255, 255, 0.3);
      margin: 1em 0 1em;
      width: 100%;
      max-width: 30px;
    }
  }

  .form-flat {
    .email {
      background-color: rgba(255, 255, 255, 0.2) !important;
      border-color: rgba(255, 255, 255, 0.09);
      border-radius: 20px;
      padding: 5px;
      margin-bottom: 10px;
      color: #fff;

      &::-webkit-input-placeholder {
        color: #ffffff;
      }

    }

    .registration {
      background-color: red;
      text-transform: uppercase;
      font-size: .97em;
      cursor: pointer;
      font-weight: bolder;
      text-align: center;
      color: #ffffff;
      border: 1px solid transparent;
      border-radius: 20px;
      line-height: 2.4em;
      min-height: 2.5em;
      padding: 0 1.2em;
      max-width: 100%;
      transition: transform .3s, border .3s, background .3s, box-shadow .3s, opacity .3s, color .3s;
      box-sizing: border-box;
    }
  }

  .menu-sp {
    ul {
      padding: 0px;
      list-style: none;

      li {
        color: #ffffff;
        padding: 5px 0;
        border-bottom: solid thin #888888;
      }
    }
  }

  .absolute-footer {
    background-color: #5b5b5b;
    color: #ffffff;
    padding: 10px;

    .right {
      float: right;
    }
  }
}

.scrolled {
  position: sticky;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 111;

  #logo {
    padding: 0px;
  }
}

.brand-slider {
  img {
    filter: grayscale(1);
    transition: .25s;

    &:hover {
      filter: grayscale(0);
    }
  }
}
